@font-face {
    font-family: 'Aladin';
    src: url('../fonts/Aladin-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sephora';
    src: url('../fonts/Sephora-Hayden.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TanPearl';
    src: url('../fonts/TAN-Pearl-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.Regular.400.otf');
    font-weight: normal;
    font-style: normal;
}
body {
  padding: 0;
  font: 14px "Montserrat";
  background-color: #f8f9fa;
}
/*NAV BAR*/
.navbar {
  background-color: #053827 !important;
  padding: 15px 15px;
}
/*LOGO*/
.container-logo{
  margin-right: 10vw;
  text-align: center;
}
.container-logo h1{
  color: white !important;
  font-family: 'Aladin';
  font-weight: bold;
  margin: 0;
  font-size: 1.6rem;
}
.container-logo h1:hover{
  color: white;
}
.container-logo img{
  height: 100px;
  transition: all 0.2s ease;
}
.logo-animada{
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-12px); /* Altura máxima da flutuação */
  }
}
.navbar-brand{
  text-align: center;
  letter-spacing: 4px;
}
/*MENU*/
.nav-link {
  color: white !important;
  margin-right: 15px !important;
  font-size: 1.5rem;
  padding: 8px 15px;
  transition: all 0.4s ease;
  border-radius: 8px;
}
.nav-link:hover {
  text-decoration: underline #d3887f;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}
.active{
  transition: all 0.3s ease;
  text-decoration: underline #d3887f;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
;
}
.navbar-nav:hover .active {
  transition: all 0.5s ease;
  text-decoration: none;
}
.active:hover {
  transform: none !important;
  cursor: default;
}
/* CARD*/
.cabecalho{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.cabecalho h4{
  margin: 0 !important;
  font-size: 2rem;
  font-weight: bold;
}
.icone-titulo{
  max-width:40px;
  height: auto;
  display: block;
}
/* CAPAS DOS*/
.capa-livro {
  width: 100%;
  max-width: 120px;
  height: auto;
  max-height: 180px;
  object-fit:contain;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card-header{
  background-color: #053827 !important;
}
.btn-details{
  background-color:#053827 !important;
  border-color:#053827 !important;
  transition: all 0.2s ease;

}
.btn-details:hover{
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 0px 2px 4px #00000033 !important;
}
/*DETALHAR*/
.detalhes-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.detalhes-header {
  background: #053827 !important;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.detalhes-header h3 {
  margin: 0;
  font-weight: 600;
}

.info-row {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
}

.info-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  width: 30%;
  color: #495057;
}
.info-label img{
  max-width:30px;
  height: auto;
  display: block;
}
.info-label h4{
  margin: 0 !important;
  font-size: 0.9rem;
  font-weight: bold;

}
.info-value {
  width: 70%;
  color: #212529;
}
.btn-voltar{
  text-decoration: none;
  font-weight: bold;
  color: #053827;
  font-size: 1.1rem;
  align-items: center;
  padding: 8px;
  transition: all 0.4s ease;
}
.btn-voltar img{
  margin-right: 10px;
  max-width:30px;
  height: auto;
  transition: all 0.3s ease;
}

.btn-voltar:hover {
  transform:translateX(-10px);
  opacity: 0.9;
  background-color: #05382744;
  border-radius: 5px;
}
.badge{
  padding: 8px;

}
.bg-secondary{
  background-color: #00000099 !important;
}
.capa-livro-detalhar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.capa-livro-detalhar img {
  max-height: 450px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
.capa-header {
  padding: 32px 25px !important;
}
/*CADASTRO*/
.card-header-cadastro{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.card-header-cadastro img{
  margin-right: 10px;
  max-width: 50px;
  height: auto;
}
.form-label img {
    width: 30px; 
    height: auto; 
    object-fit: contain;
    vertical-align: middle;
    margin-right: 5px;
}
.form-control:focus {
  border-color: #053827 !important;
  box-shadow: 0px 8px 15px #00000033 !important;
}
.d-flex a{
  transition: all 0.2s ease;
}
.d-flex a:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 0px 2px 4px #00000033 !important;
}
.btn-cadastro{
  background-color: #053827 !important;
  border-color: #053827 !important;
  transition: all 0.2s ease;
}
.btn-cadastro img{
  margin-right: 10px;
  max-width: 15px;
  height: auto;
  transition: all 0.2s ease;
}
.btn-cadastro:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 0px 2px 4px #00000033 !important;
}